.header
  %h1 Childendance
  %p 出欠確認アプリケーション

.main
  .main__main-ber
    .main__main-ber__check-box
      .main__main-ber__check-box__name-check
        【管理者専用】
        = form_for @day do |f|
          = f.date_field :dayname
          = f.submit "確認完了", class: "action-btn"
          %p ①日付を選択 ④確認ボタンをクリック
          .main__main-ber__check-box__name-check__member-number
            出席者合計(名)：
            = f.text_field :member, class: "member"
            欠席・遅刻・早退合計(名)：
            = f.text_field :absence, class: "absence"
          .main__main-ber__check-box__name-check__check
            %p ②出席者をチェック ③上記人数を入力
            %table
              %tr
                %th.name 名前
                %th.check 出席確認
              = f.collection_check_boxes :user_ids, User.where.not(name: "master").order(name: "ASC"), :id, :name do |user|
                =user.label do
                  %tr
                    %td= user.object.name
                    %td= user.check_box
      .main__main-ber__check-box__message-box
        .main__main-ber__check-box__message-box__title
          欠席連絡掲示板
        %table
          %tr
            %th.day 日付
            %th.name 名前
            %th.absence 内容
            %th.body 事由
        - @messages.each do |message|
          %table
            %tr
              %td= message.dayname
              %td= message.user.name
              %td= message.absence
              %td= message.body


    .main__main-ber__message-form
      .main__main-ber__message-form__user-box
        【お子様がお休みの場合はこちら】
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
        ユーザー情報編集
        = form_for Message.new do |f|
          .main__main-ber__message-form__day-set
            = f.date_field :dayname
          .main__main-ber__message-form__message-set
            = f.select :absence, [["","○"], ["欠席","欠席"], ["遅刻","遅刻"], ["早退","早退"]]
            = f.text_field :body, class: 'input-message', placeholder: '(例)発熱：38.5℃  インフルエンザ検査の為、病院へ'
            =f.submit '送信', class: 'send-btn'
        .main__main-ber__message-form__session
          ※①日付を選択  ②欠席or遅刻or早退を選択  ③その事由を入力  ④送信ボタンをクリック

  .main__side-ber
    .main__side-ber__datas
      %p〔出席データ DL〕
      =link_to days_path(format: :csv) do
        = icon('fas','download')
      %p〔欠席データ DL〕
      =link_to messages_path(format: :csv) do
        = icon('fas','download')