.header
  %h1 Childendance
  %p 出欠確認アプリケーション

.main
  .main__side-ber
    .main__side-ber__days
      2020年5月13日

  .main__main-ber
    .main__main-ber__table-box
      = form_for '#' do |f|
        = f.date_field :day
        = f.submit "確認", class: "action-btn"
        %p ※日付選択し、出欠チェック後に確認ボタンをクリック
        .main__main-ber__table-box__table
          %table
            %tr
              %th.check チェック
              %th.name 名前
              %th.attendance 出欠
              %th.message 事由
            %tr
              %td.check box
              %td.name 桐原友和
              %td.attendance 欠席
              %td 寝坊


    .main__main-ber__message-form
      .main__main-ber__message-form__user-box
        【お子様がお休みの場合はこちら】
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
        ユーザー情報編集
      .main__main-ber__message-form__day-set
        = form_for '#' do |f|
          = f.date_field :day
          = f.submit "確認", class: "action-btn"
      .main__main-ber__message-form__message-set
        = form_for '#' do |f|
          = f.select :absence, [["",0], ["欠席",1], ["遅刻",2], ["早退",3]]
          = f.text_field :comment, class: 'input-message', placeholder: '(例)発熱：38.5℃  インフルエンザ検査の為、病院へ'
          =f.submit '送信', class: 'send-btn'
      .main__main-ber__message-form__session
        ※①日付選択し確認ボタンをクリック  ②欠席or遅刻or早退を選択しその事由を入力後、送信ボタンをクリック