.header
  %h1 Childendance
  %p 出欠確認アプリケーション

#account-page.account-page
  .account-page__inner
    .account-page__inner--user-form
      = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :お名前
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email
        .actions
          = f.submit "更新", class: 'btn'
    .account-page__inner--account-page
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      = link_to "前ページに戻る", :back, class: 'btn'
